body{
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	background: #FFF6B6;
	display: flex;
	justify-content: center;
	align-items: center;
}

img{
	width: 300px;
}

.hint{
	position: absolute;
	bottom: 12%;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	color: #FFF6B6;
}